# =========================================================
# ENVIRONMENT
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# DATABASE / CREDENTIAL
# =========================================================

config/connect.php
config/database.php


# =========================================================
# UPLOADS
# =========================================================

uploads/
storage/uploads/


# =========================================================
# LOG
# =========================================================

*.log
logs/


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# IDE
# =========================================================

.vscode/
.idea/


# =========================================================
# TEMP
# =========================================================

*.tmp
*.temp